
<div class="text-center">
    <h1 class="display-4">Welcome to OMDB</h1>
    <a asp-action="MovieSearch"><button type="button" class="btn btn-outline-info btn-lg">Movie Search</button></a>
    <a asp-action="MovieNight"><button type="button" class="btn btn-outline-info btn-lg">Movie Night</button></a>
</div>
